<link rel="stylesheet" href="{{ url_for('static', filename='css/design-system.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">

<nav class="social-nav">
  <a href="/">KPC Typing</a>
  <div>
    <a href="/friends">Friends</a>
    <a href="/friends/requests">Requests</a>
    <a href="/friends/leaderboard">Friends Rank</a>
    <a href="/challenges">Challenges</a>
    <a href="/activity">Activity</a>
    <a href="/global-leaderboard">Global</a>
  </div>
</nav>

<script src="{{ url_for('static', filename='js/kpctyping_mockup2_redesign.js') }}" defer></script>
